<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Coklu Ogretim Elemani Ekleme</title>
</head>
<body>
<h1>Ogretim Elemanlari</h1>

<from method="POST">
{% csrf_token %}
{{ formkumesi.management_form }}
{% for form in formkumesi %}
    <table border=1>
        {{form}}
    </table>
    <p>
{% endfor %}
<input type="submit" value="Gonder">
</form>
</body>
</html>
