{% load filtrelerim %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title> Ogretim Elemanlari Listesi</title>
</head>
<body>
<h1> Ogretim Elemanlari Listesi</h1>
<form method="GET">
    {{ arama_formu.aranacak_kelime.errors }}
    {{ arama_formu.aranacak_kelime.label }}
    {{ arama_formu.aranacak_kelime }}
    <input type="submit" value="Bul">
</form>
{% if not ogretim_elemanlari_tumu %}
<h3>{{ aranacak_kelime }} adinda ve soyadinda aradginiz harfleri iceren ogretim elemani bulunamadi</h3>
{% else %}
    {% if aranacak_kelime %}
    <h3>Aradiginiz "{{aranacak_kelime}}" icin bulunan sonuclar:</h3>
    {% endif %}
{% endif %}
<table border="1">
    <tr>
        <th>Sira</th>
        {% if olcut == '1' %} <th class="siralanan"> {% else %} <th> {% endif %} <a href="?sirala=1">Adi</a></th>
        {% if olcut == '2' %} <th class="siralanan"> {% else %} <th> {% endif %} <a href="?sirala=2">Soyadi</a></th>
        <th>Telefonu</th>
        {% if olcut == '3' %} <th class="siralanan"> {% else %} <th> {% endif %} <a href="?sirala=3">E-Posta Adresi</th></a>
        <th>Verdigi Dersler</th>
    </tr>
    {% for ogr in ogretim_elemanlari %}
    <tr>
        <td><a href="/ogretim-elemani-ekleme/?id={{ ogr.id }}">
        {{ ogretim_elemanlari.start_index|add:forloop.counter0 }}</a></td>
        <td><a href="/ogretim-elemani-ekleme/?id={{ ogr.id}}"> {{ ogr.adi }}</a></td>
        <td><a href="/ogretim-elemani-ekleme/?id={{ ogr.id}}"> {{ ogr.soyadi }}</a></td>
        <td>{{ ogr.telefonu }}</td>
        <td>{{ ogr.e_post_adresi }}</td>
        <td>{{ ogr.id|ders_bul|unordered_list }} </td>
        <!--<td>{{ ogr.verdigi_dersler|unordered_list }}</td>-->
    </tr>
    {% endfor %}
    </table>
{% if ogretim_elemanlari.has_previous %}
    <a href="?sayfa={{ ogretim_elemanlari.previous_page_number }}">Onceki</a>
{% endif %}

Sayfa {{ ogretim_elemanlari.number }} / {{ ogretim_elemanlari.paginator.num_pages }}

{% if ogretim_elemanlari.has_next %}
    <a href="?sayfa= {{ ogretim_elemanlari.next_page_number }}">Sonraki</a>
{% endif %}
<br/>
<br/>
{% for s in ogretim_elemanlari.paginator.page_range %}
    <a href="?sayfa={{s}}">{{s}}</a>
{% endfor %}
<p><a href="/ogretim-elemani-ekleme/">Yeni Kayit</a></p>
</body>
</html>
